.card {
  min-width: 30%;
  height: 24rem;
  flex: 1 1 auto;
  border: 1px solid #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.75rem 1.5rem;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;

  &__about {
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    background: #fff;
    opacity: 0.75;
    padding: 1rem 3rem;
    border: 1px solid #222;
    transition: opacity 0.5s;
    font-family: 'Open Sans Condensed', sans-serif;
  }

  &:first-child {
    margin-right: 0.75rem;
  }

  &:last-child {
    margin-left: 0.75rem;
  }

  &:hover &__about {
    opacity: 0.9;
  }

  .background-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 5s;
    z-index: -1;
  }
  &:hover .background-image {
    transform: scale(1.2);
  }
}
.large {
  height: 38rem;
}
